.income_box {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.staff_box {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.marketing_box {
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

div {
    overflow: auto;
}

#ui div {
    float: left;
    margin: 10px;
}

#buttons div {
    float: left;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

.main_frame {
    width: 500px;
    max-width: 500px;
}
